.list {
    .empty {
        text-align: center;
        margin: 30px 0;
    }
    h2 {
        color: white;
    }
    ul{
    display: flex;
    flex-wrap: wrap;
        li  {
            list-style: none;
            margin: 30px 15px;
            width: calc(100% / 1 - 30px);
        }

    }
        @media screen and (min-width: 576px) {
            ul {
                li {
                    width: calc(100% / 2 - 30px); 
                }
            }
        }
        
        @media screen and (min-width: 768px) {
            ul {
                li {
                    width: calc(100% / 3 - 30px); 
                }
            }
        }

        @media screen and (min-width: 992px) {
            ul {
                flex-wrap: nowrap;
                overflow-y: hidden;
                overflow-x: auto;
                li {
                    width: calc(100% / 4 - 30px); 
                }
            }
        }

        @media screen and (min-width: 1200px) {
            ul {
                li {
                    width: calc(100% / 5 - 30px); 
                }
            }
        }

        @media screen and (min-width: 1500px) {
            ul {
                li {
                    width: calc(100% / 6 - 30px); 
                }
            }
        }
}