.list {
    h2 {
        color: white;
    }
    ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        li  {
            list-style: none;
            margin: 30px 20px;
            width: calc(100% / 1 - 40px );
        }
        @media screen and (min-width: 576px) {
            li {
                width: calc(100% / 2 - 40px ); 
            }
        }
        
        @media screen and (min-width: 768px) {
            li {
                width: calc(100% / 3 - 40px ); 
            }
        }

        @media screen and (min-width: 992px) {
            li {
                width: calc(100% / 4 - 40px ); 
            }
        }
    }
}